
	
	.upper_part {
		
		
		width:100%;
		
	}
	.half_part {
		
		width:50%;
		float:left;
		
	}
	.half1_part {
		
		width:49%;
		border:1px solid #ffffff;
		float:right;
		
		
		
	}
	.half1_part:hover {border:1px solid #6495ED;}